html,body,#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /*overflow: hidden;*/
  background-color: #f3f6fa;
  font-family: 'Malgun Gothic', sans-serif;
}

.App {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  background-color: #eee;
}
/* 오렌지색 팝업 공지 상자 */
.popup-card {
  position: fixed;
  top: 20%;
  right: 20%;
  width: 23%;
  background: white;
  border: 2px solid #ffb03b;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  z-index: 1000;
}

.popup-header {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.popup-body {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.popup-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: #fff5e6;
  color: #ff9f43;
  border: none;
  padding: 6px 16px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  background: #ffeacc;
}